body{
  background: url('../images/drop.svg') repeat-x;
  /* will-change:background-position; */
}


#clock {
  border: 2px solid grey;
  border-radius: 150px;
  width: 300px;
  height: 300px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#clock #clock-time {
  left: 50%;
}

.time-up{
  background-color: rgb(218, 91, 91);
  color: white;
}

